:root {
    --bg: url("../assets/img/topography.svg");
}

body {
    /* font-family: "Open Sans", sans-serif; */
    font-family: "Poppins", sans-serif;
    background-color: #171717;
    background-image: var(--bg);
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
    /* color: #fff; */
}

/* Navbar */

.sideNav {
    display: block;
    position: fixed;
    top: 35%;
    left: 0;
    width: 15%;
    z-index: 1;
    overflow: hidden;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 2;
}

.item-sideNav {
    font-size: 1.5em;
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: left;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    list-style: none;
}

.item-sideNav a {
    display: block;
    width: 100%;
    height: 100%;
    color: #6e6e6e;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.item-sideNav:hover a {
    padding-left: 20px;
    color: white;
}

/* Content */

.content {
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 1;
}

.logo {
    position: relative;
    background-color: #171717;
    background-image: var(--bg);
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: #fff;
    overflow: hidden;
    z-index: 5;
}

.logo img {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 12%;
    margin-top: 1%;
}

.logo a {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    top: 90%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    text-align: center;
    color: #fff;
    margin-top: 1%;
}

.body-content {
    text-align: center;
    position: relative;
    color: white;
}

.content-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    height: 100vh;
}

.sticky-content {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    margin-top: 20px;
    top: 0;
}

.sticky-content img {
    width: 12%;
    position: sticky;
    margin-top: 20px;
    top: 0;
}

.typed {
    font-size: 36px;
    color: white;
    font-family: "Poppins", sans-serif;
    width: 100%;
}
.cpy {
    font-size: 1em;
    color: white;
    font-family: "Poppins", sans-serif;
    width: 100%;
    margin-top: 10px;
}

/* Card */

.card {
    border: none;
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    overflow: hidden;
    border-radius: 20px;
    min-height: 450px;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);

    @media (max-width: 768px) {
        min-height: 350px;
    }

    @media (max-width: 420px) {
        min-height: 300px;
    }

    &.card-has-bg {
        transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
        background-size: 120%;
        background-repeat: no-repeat;
        background-position: center center;
        &:before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: inherit;
            -webkit-filter: grayscale(1);
            -moz-filter: grayscale(100%);
            -ms-filter: grayscale(100%);
            -o-filter: grayscale(100%);
            filter: grayscale(100%);
        }

        &:hover {
            transform: scale(0.98);
            box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.3);
            background-size: 130%;
            transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);

            .card-img-overlay {
                transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
                background: rgb(33, 81, 255);
                background: linear-gradient(
                    0deg,
                    rgba(33, 81, 255, 0.5) 0%,
                    rgba(33, 81, 255, 1) 100%
                );
            }
        }
    }
    .card-footer {
        background: none;
        border-top: none;
        .media {
            img {
                border: solid 3px rgba(255, 255, 255, 0.3);
            }
        }
    }
    .card-title {
        font-weight: 800;
    }
    .card-meta {
        color: rgba(0, 0, 0, 0.3);
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 2px;
    }
    .card-body {
        transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    }
    &:hover {
        .card-body {
            margin-top: 30px;
            transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
        }
        cursor: pointer;
        transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
    }
    .card-img-overlay {
        transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
        background: rgb(33, 81, 255);
        background: linear-gradient(
            0deg,
            rgba(33, 81, 255, 0.3785889355742297) 0%,
            rgba(33, 81, 255, 1) 100%
        );
    }
}
@media (max-width: 767px) {
}

.mobile-toggle-btn {
    display: none;
    position: fixed;
    top: 10px;
    left: 10px;
    font-size: 1.5rem;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    z-index: 3;
}

@media (max-width: 767px) {
    .sideNav {
        width: 0;
        padding: 0;
    }

    .sideNav ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
        height: 100vh;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.8);
        padding: 50px 20px;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
        z-index: 2;
    }

    .sideNav ul.active {
        transform: translateX(0);
    }

    .mobile-toggle-btn {
        display: block;
    }
    .mobile-toggle-btn.active::before {
        content: "\f00d"; /* Unicode for the X icon */
    }
}
